<a href="https://colab.research.google.com/github/likeshd/study/blob/main/python_basics_pract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name,age = "sursan",22
print(name,age,"is a \"natural\"swimmmer")

sursan 22 is a "natural"swimmmer

In [2]:
a,b,c = 10,20,50
result = (a+b)//c
print("The result is {}".format(c))

The result is 50

In [3]:
a = [1,2,3,4,5]
b = [2,3,4,5,6]
print(a[-1],"and", b[len(b)-1])

5 and 6

In [4]:
a = list(range(0,10,2))
print(a[::-1])

[8, 6, 4, 2, 0]

In [9]:
A = 10
B = 20
if A > 5 & B > 15:
    print("one")
elif A < 5 & B < 15:
    print("two")
else:
    print("None")

None

In [12]:
A = 2
B = 10
if A>0 and B%A ==0:
  print("one", end=",")
elif B>5 and B%2 ==1:
  print("two",end=",")
else:
  pass

one,

In [31]:
def func(self):
  if self%2==0:
    return None
func(10)

In [17]:
def fucn(*self):
  for i in self:
    if i in list(range(0,100,10)):
      print("True", end =",")
    else:
      print("False")
(fucn(10,15))

True,False

In [28]:
class Myclass:

  def __init__(self):
    self.string = "Intllipaat"
    self.number = 2022

obj = Myclass()
print(obj.string, obj.number)

Intllipaat 2022

In [30]:
class Parent:
  def __init__(self):
    self._name = "levi"
    self.__age = 29

class Child(Parent):
  def __init__(self):
    Parent.__init__(self)
    self._name = "devon"
    self.__age = 28

  def view(self):
    return self.__age

obj = Child()
obj.view()

28